/* Hide various interface elements */
#left-navigation,
#right-navigation,
#p-search,
#mw-panel div.portal,
body.ltr #footer #footer-places,
#mw-head {
	display: none !important;
}

#content {
	background-color: transparent !important;
	background-image: none !important;
}

div#mw-head-base,
div#footer {
	background-image: none;
}
