/* Hide various interface elements */
#left-navigation,
#right-navigation,
#p-search,
#mw-panel .portal,
body.ltr #footer #footer-places,
#mw-head {
	display: none !important;
}

#content {
	background-color: transparent !important;
	background-image: none !important;
}

#mw-head-base,
#footer {
	background-image: none;
}
